 **IGTI - Machine Learning 4th Week Challenge - Wine quality Dataset**

**Libraries**

some additional ones will be imported later

In [1]:
from google.colab import files
import pandas as pd
from sklearn.preprocessing import MinMaxScaler 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

**Uploading the data set**

In [4]:
uploaded = files.upload()

Saving winequality-red.csv to winequality-red.csv

**Creating the data frame**

In [5]:
df = pd.read_csv('winequality-red.csv', sep = ';')

**Getting to know the data frame**

In [6]:
df.head(10)

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5
5            7.4              0.66         0.00  ...       0.56      9.4        5
6            7.9              0.60         0.06  ...       0.46      9.4        5
7            7.3              0.65         0.00  ...       0.47     10.0        7
8            7.8              0.58         0.02  ...       0.57      9.5        7
9            7.5              0.50         0.36  ...       0.80     10.5        5

[10 rows x 12 columns]

In [7]:
instances, attributes = df.shape
print(f"The data frame has {instances} instances and {attributes} attributes")

The data frame has 1599 instances and 12 attributes

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [9]:
df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

**Checking wine quality**

the data frame is clearly unbalanced

In [ ]:
df[df["quality"] == 5]["quality"].size

681

In [10]:
df['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

**Pearson correlation for fixed acidity and pH**

In [11]:
df[["fixed acidity","pH"]].corr(method="pearson")

               fixed acidity        pH
fixed acidity       1.000000 -0.682978
pH                 -0.682978  1.000000

**Pearson correlation for quality and alcohol**

In [12]:
df[["quality","alcohol"]].corr(method="pearson")

          quality   alcohol
quality  1.000000  0.476166
alcohol  0.476166  1.000000

**Data Normalization** - testing the acidity attribute

In [14]:
scaler = MinMaxScaler(feature_range=(0,1))

In [17]:
normalized_acidity = scaler.fit_transform(df.iloc[:,0:1].values) # MinMaxScaler requires a 2d array (matrix)
print(normalized_acidity, '\n')
print(f"The smallest value is {min(normalized_acidity)}")

[[0.24778761]
 [0.28318584]
 [0.28318584]
 ...
 [0.15044248]
 [0.11504425]
 [0.12389381]]

The smallest value is [0.]

**Splitting the Data frame**

30% will be used for testing purposes and 70% for traning the models

The X axes consist of *every* data frame attribute, but quality

The Y axis consists of the *quality* attribute

In [ ]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [18]:
X = scaler.fit_transform(df.drop('quality', axis=1).values)
y = df['quality'].values

#print(X)
#print(y)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

**Training the models**

**KNN**

In [19]:
from sklearn.neighbors import KNeighborsClassifier
clf_KNN = KNeighborsClassifier(n_neighbors=5)

clf_KNN.fit(X_train, y_train)

y_knn_prediction = clf_KNN.predict(X_test)

knn_accuracy = accuracy_score(y_test, y_knn_prediction)
print('KNN Accuracy: ', knn_accuracy)

KNN Accuracy:  0.5645833333333333

**Decision Tree Classifier**

In [26]:
from sklearn.tree import DecisionTreeClassifier
clf_tree = DecisionTreeClassifier()

clf_tree.fit(X_train, y_train)

y_tree_prediction = clf_tree.predict(X_test)

tree_accuracy = accuracy_score(y_test, y_tree_prediction)
print('Decision Tree Classifier Accuracy: ', tree_accuracy)

Decision Tree Classifier Accuracy:  0.5791666666666667

**Random Forest Classifier**

In [30]:
from sklearn.ensemble import RandomForestClassifier
clf_forest = RandomForestClassifier(max_depth=10, random_state=1)

clf_forest.fit(X_train, y_train)

y_forest_prediction = clf_forest.predict(X_test)

forest_accuracy = accuracy_score(y_test, y_forest_prediction)
print('Random Forest Classifier Accuracy: ', forest_accuracy)

Random Forest Classifier Accuracy:  0.6791666666666667

**SVM**

In [32]:
from sklearn.svm import SVC
clf_svm = SVC(gamma='auto',kernel='rbf')

clf_svm.fit(X_train, y_train)

y_svm_prediction = clf_svm.predict(X_test)

svm_accuracy = accuracy_score(y_test, y_svm_prediction)
print('SVM Accuracy: ', svm_accuracy)

SVM Accuracy:  0.5854166666666667

**MLP**

In [34]:
from sklearn.neural_network import MLPClassifier
clf_mlp = MLPClassifier( alpha=1e-5, hidden_layer_sizes=(5, 5), random_state=1)

clf_mlp.fit(X_train, y_train)

y_mlp_prediction = clf_mlp.predict(X_test)

mlp_accuracy = accuracy_score(y_test, y_mlp_prediction)
print('MLP Accuracy: ', mlp_accuracy)

MLP Accuracy:  0.6

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

**Classifying wine quality**

the df will be modified to:

quality <= 5 - bad wine, it'll be class zero (0)

quality > 5 - good wine, it'll be class one (1)

In [35]:
df_wine = df.copy()

In [36]:
df_wine.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [37]:
df_wine['quality'].where(df_wine['quality'] > 5, 1, inplace = True)
df_wine['quality'].where(df_wine['quality'] <= 5, 0, inplace = True)

In [38]:
df_wine.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        1
1            7.8              0.88         0.00  ...       0.68      9.8        1
2            7.8              0.76         0.04  ...       0.65      9.8        1
3           11.2              0.28         0.56  ...       0.58      9.8        0
4            7.4              0.70         0.00  ...       0.56      9.4        1

[5 rows x 12 columns]

**Splitting the Data frame**

X and Y attributes will be the same as before,
but the accuracy of our model will be a lot higher, as there are only two classes now

In [39]:
X = scaler.fit_transform(df_wine.drop('quality', axis=1).values)
y = df_wine['quality'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

**Random Forest Classifier**

In [40]:
clf_forest.fit(X_train, y_train)

y_forest_prediction = clf_forest.predict(X_test)

forest_accuracy = accuracy_score(y_test, y_forest_prediction)
print('Random Forest Classifier Accuracy: ', forest_accuracy)

Random Forest Classifier Accuracy:  0.8041666666666667